.content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 2rem;
}
.content h4 {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}
.editor {
  height: 350px;
}
